/* scrollbar design */
/* For WebKit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c2c1d0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c2c1d0;
}